
<div class="row down_and_up_padding_container">
    <div class="col-md-12 none_right_padding">
        <div class="row down_padding_container bottom_align">
            <div class="col-md-4">
                @Html.ActionLink("Add Company", "AddCompany", "MainAdmin", new { @class = "btn btn-success active active-without-shadow", @role = "button" })<br />
            </div>
        </div>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="data-table" width="100%">
                <thead>
                <th>Name</th>
                <th>CompanyId</th>
                <th>Mobile</th>
                <th><p class="text-center"> <strong>Number Of Emploees </strong></p></th>
                <th><p class="text-center"><strong> ActivityStatus </strong> </p></th>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    function create_toggle(input_string, id) {
        var result
        if (input_string.ActivityStatus == 'True') {
            result = '<input type="checkbox" checked onclick="handle_company_state(this)" name = "my_kalypto" id=' + id + '>'
        }
        else {
            result = '<input type="checkbox" onclick="handle_company_state(this)" name = "my_kalypto" id=' + id + '>'
        }
        return result
    }
    function handle_company_state(element) {
        var value = $(element).is(":checked")
        if (value) {
            $.ajax({
                url: '@(Url.Action("RestoreCompany", "MainAdmin"))/?id=' + $(element).attr('id'),
                type: 'POST',
            });
        }
        else {
            $.ajax({
                url: '@(Url.Action("DeleteCompany", "MainAdmin"))/?id=' + $(element).attr('id'),
                type: 'POST',
            });
        }
    }
    $(document).ready(function () {
        var table = $('#data-table').DataTable({
            scrollX: true,
            stateSave: true,
            processing: true,
            serverSide: true,
            "fnCreatedRow": function () {
                setTimeout(function () {
                    $("input[name=my_kalypto]").kalypto();
                }, 10)
            },
            ajax: {
                url: '@(Url.Action("GetCompaniesTable", "MainAdmin"))',
                type: "GET"
            },
            columns: [
              { "data": "Name", "orderable": false, sWidth: "200px" },
              { "data": "CompanyId", "orderable": false },
              { "data": "Mobile", "orderable": false },
              { "data": "NumberOfEmploees", "orderable": false },
              { "data": null, "orderable": true, sClass: "cell_with_centered_text", "width": "150px" }
            ],
            "columnDefs": [
            {

                "targets": 4,
                "render": function (data, type, full, meta) {
                    return create_toggle(data, full["CompanyId"]);
                }
            },
            {
                "targets": 0,
                "render": function (data, type, full, meta) {
                    return '<a href = "@(Url.Action("IndexPage", "Company"))/' + full["CompanyId"] + '">' + full["Name"] + '</a>';
                }
            },
            {
                "targets": 3,
                "render": function (data, type, full, meta) {
                    return '<p class="text-center">' + data + '</p>';
                }
            }
            ]
        });
    });

    

</script>